
body {
    background: url("https://resi.ze-robot.com/dl/4k/4k-desktop-wallpaper.-2560%C3%971080.jpg") center no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: #eee6e6;
    padding-bottom: 20px;
}

header {
    margin-bottom: 30px;
}

/*.App {*/
/*    margin-top: 30px;*/
/*    !*display: flex;*!*/
/*}*/

/*.App > div {*/
/*    margin-right: 50px;*/
/*}*/

.is-done {
    opacity: 0.8;
    text-decoration: line-through;
}

/*.selected {*/
/*    background-color: green;*/
/*}*/

/*.error {*/
/*    outline: transparent;*/
/*    border: 2px solid red;*/
/*}*/

/*.error-message {*/
/*    color: red;*/
/*}*/

/*.removeTodoListButton {*/
/*    cursor: pointer;*/
/*    margin-left: 10px;*/
/*    background-color: #7acd75;*/
/*    border-radius: 4px;*/
/*}*/

/*.removeTodoListButton:hover {*/
/*    transition: 0.5s;*/
/*    background-color: #a7fda3;*/
/*}*/
